<div class="container text-center">
    <h1>About Page</h1>
    <p>We are DevMatch. Our company focuses on creating an exclusive community
      developers and entrepreneurs to meet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero tenetur nemo, dignissimos nisi facere blanditiis rerum dolorum, quam vero quis quos error aperiam expedita voluptate obcaecati illum at autem repudiandae.
    </p>
</div>